.carousel-bckgrnd {
  background-color: rgb(28 139 171 / 0.5);
  padding: 20px;
  border-radius: 10px;
}
.carousel-inner img {
  max-height: calc(100vh - 79px);
  object-fit: cover;
}
.carousel-caption {
  bottom: 20px;
}
.welcome2 {
  max-width: 75%;
  text-align: left;
  margin: 0 auto;
  padding: 1.5rem;
}
.hero4 {
  background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
    url(../images/contact.png);
  background-size: cover;
  background-position: center;
  min-height: 20vh;
  max-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.icon-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.icon-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.call {
  width: 100px;
  height: 100px;
}
.telsize {
  font-size: 60px;
  line-height: 1;
}
.shadow {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #002855;
  display: flex;
  align-items: center;
}
.title-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.section-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin-bottom: 1rem;
}
.custom-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #34495e;
  text-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
  border-bottom: 4px solid #e74c3c;
  padding-bottom: 10px;
}
